# Include documentation and metadata files
include README.md
include LICENSE
include pyproject.toml

# Exclude test files
recursive-exclude tests *

# Exclude caches and build artifacts
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
recursive-exclude * .ruff_cache
recursive-exclude * .pytest_cache
exclude .gitignore
